*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body{
    background: url(./pictures/13.jpg);
    background-position: center;
    background-size: cover;
}
.first{
    background-color:rgb(247, 236, 236);
    background-color:rgba(247, 236, 236,0.5);
    width: 23vw;
    height: 75vh;
    margin: 10vh auto 5vh;
    text-align: center;
    padding: 3%;
    padding-bottom: 1%;
   
}
.form{
    text-align: center;
    padding: 1%;
}
.form h1{
    padding-bottom: 2%;
    color: white;
    text-decoration: underline ;
    font-size: 5vh;
    font-family: 'Alfa Slab One', cursive;
    font-family: 'Archivo Black', sans-serif;
}

.input-box{
    background: transparent;
    border-bottom: 2px solid black;
    padding: 3%;
    margin: 2vh 0;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    width: 100%;
    height: 5vh;
    outline: none;
    font-size: 3vh;
}

button{
    border-radius: 20px;
    width: 100%;
    padding: 2%;
    margin: 3vh 0;
    border:none;
    color: white;
    outline: none;
    cursor: pointer;
    font-size: 3vh;
}
.signup{
    background-color: rgb(92, 116, 196);
    padding-bottom: 3%;
}
.login{
    margin-top: 1vh;
    background-color: rgb(82, 82, 212);   
}
.form button:hover{
    color:rgb(6, 6, 34);
    text-decoration: white;
}
.terms{
    font-size: 2.5vh;
    text-align: left;
}
.account{
    font-size: 2vh;
}

.form a{
    text-decoration: none;
    font-size: 3vh;
    font-weight: bolder;
}
.form a:hover{
    text-decoration: underline;
    color: rgb(0, 153, 255);
}
img{
    width: 30%;
    margin-top: -5vh;
    border-radius: 50%;
}